@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.sticky{
    background-color: #784832a2;
    
    & .navbar-item{
        color: #f2f2f2;
        transition: .3s ease;
    }
    & .navbar-item:hover{
        background-color: #b96a4d;
        color: #f2f2f2;
        transition: .3s ease;
    }
    .icons i:hover{
        background-color: #b96a4d;
        color: #f2f2f2;
        transition: .3s ease;
    }
}
body{
    background: #b96a4d;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 100px;
    color: #f2f2f2;
    padding: 0 60px;
}
.logo img{
    margin: 0 40px;
    width: 70px;
    height: 70px;
}
.navbar{
    display: flex;
    gap: 10px;
}
.navbar-list{
    display: flex;
    gap: 12px;
    padding: 0 24px;
}
.navbar-item{
    font-family: Roboto Mono;
    color: #f2f2f2;
    padding: 5px 15px;
    border-radius: 10.3px;
    transition: .3s ease;
}
.navbar-item:hover{
    background-color: #f2f2f2;
    color: #000000;
    transition: .3s ease;
}
.icons{
    display: flex;
    gap: 10px;
}
.icons a{
    color: #f2f2f2;
}
.icons i{
    
    font-size: 1.4rem;
    padding: 5px 10px;
    border-radius: 6px;
}
.icons i:hover{
    background-color: #f2f2f2;
    color: #000000;
    transition: .3s ease;
}